/* You can add global styles to this file, and also import other style files */
$max-width: 100%;
$max-height: 80%;
$max-height-container: 90%;

html, body {
  width: 100%;
  height: 100%;
  margin: 0 !important; // override user agent stylesheet
  padding: 0 !important; // override user agent stylesheet
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#chartContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;

  @media only screen and (max-width: $max-width) {
    width: 100vw;
  }
  @media only screen and (max-height: $max-height-container) {
    width: 100vh;
  }

  svg {
    pointer-events: all;
  }

  #waterfall {
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex: 1;
    width: calc(100vw - 100px);
    height: calc(100vh - 150px);
    margin: 0 0 0 100px;
    overflow: visible;

    @media only screen and (max-width: $max-width) {
      width: 100vw;
    }
    @media only screen and (max-height: $max-height-container) {
      width: 100vh;
    }

    .bar.total {
      &:first-of-type {
        rect {
          margin-right: 30%;
        }
      }
      rect {
        fill: #416ca1;
      }
    }

    .bar.positive rect {
      fill: #7d9b51;
    }

    .bar.negative rect {
      fill: #983b33;
    }

    .bar line.connector {
      stroke: grey;
      stroke-dasharray: 3;
    }

    .bar.arrow rect {
      fill: #416ca1;

      text {
        font-family: FontAwesome;
      }
    }

    .bar text {
      fill: white;
      font: 12px sans-serif;
      text-anchor: middle;
    }

    .arrow text {
      fill: #416ca1;
      font: 12px sans-serif;
      text-anchor: middle;
    }

    .axis text {
      font: 12px sans-serif;
      color: #416ca1;
    }

    .axis path,
    .axis line {
      fill: none;
      display: none;
      stroke: lightgrey;
      stroke-opacity: 0.7;
      shape-rendering: crispEdges;
    }

    .grid {
      .domain {
        stroke: none;
        fill: none;
      }

      .tick {
        line {
          fill: none;
          stroke: lightgrey;
          stroke-opacity: 0.7;
          shape-rendering: crispEdges;
        }
      }
    }

    .y.label {
      fill:#416ca1;
    }


    div.tooltip {
      position: absolute;
      text-align: center;
      width: 60px;
      height: 16px;
      padding: 2px;
      font: 15px sans-serif;
      background: lightgrey;
      border: 0;
      border-radius: 8px;
      pointer-events: none;
    }

    .bubble {
      font-weight: bold;
    }

    .ellipse {
      fill: none;
      stroke: black;
      stroke-width: 2;
    }
  }
}
